@layer base {

    .form input,
    .form button,
    .form select,
    .form textarea {
        @apply
        sm:text-sm
        rounded-md
        border-gray-300
        placeholder-gray-300
        focus:border-gray-400
        focus:ring-0
        ;
    }

    .form input[disabled],
    .form button[disabled],
    .form select[disabled],
    .form textarea[disabled] {
        @apply
        sm:text-sm
        bg-gray-200
        ;
    }


    .form .form-row {
        @apply
        flex flex-row
        justify-center
        ;
    }

    .form .form-col {
        @apply
        flex flex-col
        justify-center
        ;
    }

    .form .form-row + .form-row,
    .form .form-row + .form-col,
    .form .form-col + .form-row,
    .form .form-col + .form-col {
        @apply mt-4;
    }


    .form .form-col input,
    .form .form-col button,
    .form .form-col select,
    .form .form-col textarea {
        @apply
        w-full
        ;
    }


    .form .--has-errors input,
    .form .--has-errors select,
    .form .--has-errors textarea {
        @apply
        border-red-500
        ;
    }



    .form .form-col p {
        @apply
        text-sm
        pb-0
        ;
    }


    .form .form__errors {
        @apply
        text-red-500
        text-sm
        ;
    }





    .form textarea {
        min-height: 5em;
    }

    .form .input-prefix {
        @apply
        inline-flex
        items-center
        px-3
        rounded-l-md
        border border-r-0 border-gray-300
        bg-gray-50
        text-gray-400 text-sm
        ;
    }

    .form .input-prefix svg {
        height: 1.1em;
        @apply text-gray-300;
    }

    .form .input-prefix + input {
        @apply
        rounded-none rounded-r-md
        ;
    }


    .form button,
    .form [role="button"],
    .form input[type="submit"] {
        @apply
        inline-flex
        bg-white hover:bg-gray-50
        py-2 px-3
        border border-gray-300
        rounded-md
        shadow-sm
        text-sm leading-4 font-medium text-gray-700
        focus:outline-none
        cursor-pointer
        ;
    }

    .form input[type="submit"],
    .form button[type="submit"] {
        @apply
        bg-primary-500 hover:bg-primary-400
        text-white
        border-0
        ;
    }

    .form label {
        @apply
        block
        font-bold
        text-lg
        pt-4
        pb-2
        ;
    }

    .form div.label-important label {
        @apply
        text-2xl
        pt-3
        ;
    }



}
