@tailwind base;
@tailwind components;
@tailwind utilities;


/**********************************************************************************************************************/
/*  Responsive
/**********************************************************************************************************************/

@screen xs {
    .w-responsive {
        width: calc(theme('screens.xs') - 20px);
    }
}
@screen sm {
    .w-responsive {
        width: calc(theme('screens.sm') - 20px);
    }
}
@screen md {
    .w-responsive {
        width: calc(theme('screens.md') - 20px);
    }
}
@screen lg {
    .w-responsive {
        width: calc(theme('screens.lg') - 20px);
    }
}
@screen xl {
    .w-responsive {
        width: calc(theme('screens.xl') - 20px);
    }
}



/**********************************************************************************************************************/
/*  Page
/**********************************************************************************************************************/

.page {
    @apply
    relative z-10 w-full
    leading-loose
    ;
}

.page--wrapper {
    @apply
    box-border w-responsive
    mx-auto
    md:px-12 sm:px-8
    ;
}

.page--header {
    @apply
    sticky
    top-0
    z-40 lg:z-50
    w-full
    bg-white
    border-b border-gray-200
    shadow
    ;
}

.page--header .nav {
    @apply
    w-full
    h-auto lg:h-14
    flex flex-col lg:flex-row lg:flex-auto
    pb-2 lg:pb-0
    items-center
    justify-between
    ;
}

.page--header .nav--group {
    @apply
    flex
    flex-row
    flex-wrap lg:flex-nowrap
    justify-center lg:justify-start
    items-center
    pt-2 lg:pt-0
    space-x-2
    ;
}

.page--header .nav--item {
    @apply
    /*relative*/
    relative
    box-content
    items-center
    h-6 leading-6
    font-medium
    transition-colors duration-200
    
    px-3 py-2 rounded-md
    text-gray-500
    ;
}
.page--header a.nav--item {
    @apply
    hover:text-gray-600
    hover:bg-gray-100
    ;
}
.page--header div.nav--item {
    @apply
    hover:bg-gray-50
    cursor-default
    ;
}

.page--header .nav--item--active {
    @apply bg-gray-100;
}


.page--header .nav--item ul.nav--item--submenu {
    @apply
        hidden
        mt-2
        block
        absolute
        px-2 py-2
        /*bg-gray-100*/
        space-y-1
        bg-white
        rounded-md
        shadow
    ;
}
.page--header .nav--item ul.nav--item--submenu > li > a {
    @apply
        block
        w-full
        px-2 py-1
        hover:bg-gray-100
        rounded-md
    ;
}

.page--header .nav--item.-with-submenu:hover ul.nav--item--submenu {
    @apply block;
}



.page--footer {
    @apply
    w-full
    pt-20
    bg-white
    border-b border-gray-200
    ;
}



/**********************************************************************************************************************/
/*  Sidebar
/**********************************************************************************************************************/

aside {
    @apply
        min-h-full
        z-40 lg:z-50
    ;
}

aside nav > ul {
    @apply
        py-6
        px-3
    ;
}

aside nav > ul li {
    @apply
        min-h-10
        leading-10
        relative
        mt-0.5
    ;
}

aside nav > ul li ul {
    @apply
    pl-4
    ;
}

aside nav > ul li ul li {
    @apply
        min-h-8
        leading-8
    ;
}

aside nav > ul li > span {
    @apply
        px-2
        cursor-default
        hover:bg-gray-50
    ;
}
aside nav > ul li > a,
aside nav > ul li > span {
    @apply
        px-2
        w-full
        h-full
        flex
        flex-row
        items-center
        hover:bg-gray-100
        rounded-md
    ;
}
aside nav > ul li > span {
    @apply
    cursor-default
    hover:bg-gray-50
    ;
}

aside nav > ul li.-active > a {
    @apply bg-gray-100;
}

aside nav > ul li > a svg {
    @apply
        h-5
        w-5
        inline-block
        mr-1
    ;
}


aside nav > ul li div.badges--container {
    @apply
        flex
        flex-row
        float-right
        h-full
        items-center
        space-x-0.5
    ;
}

aside nav > ul li .badges--container .badge {
    @apply
        flex flex-none
        text-white
        px-1.5
        text-xs
        font-bold
        rounded
        h-4
        leading-4
    ;
}



/**********************************************************************************************************************/
/*  Content
/**********************************************************************************************************************/

html,
body {
    @apply h-full;
}

main {
    @apply
        max-h-full
        /*overflow-scroll*/
    ;
}

main section {
    @apply
        mt-8 mb-14
    ;
}

main p {
    @apply
    pb-5
    text-justify
    ;
}

main a {
    @apply
    text-indigo-600
    hover:underline
    ;
}

main h1 {
    @apply
    font-bold
    text-4xl
    text-gray-600
    mt-8
    mb-6
    ;
}

main h2 {
    @apply
    font-bold
    text-2xl
    text-gray-600
    mt-5
    mb-2
    ;
}

main h3 {
    @apply
    font-bold
    text-base
    text-gray-600
    mt-3
    mb-1
    ;
}



/**********************************************************************************************************************/
/*  Form
/**********************************************************************************************************************/

form.form input,
form.form button,
form.form select,
form.form textarea {
    @apply
    sm:text-sm
    rounded-md
    border-gray-300
    placeholder-gray-300
    focus:ring-primary-300 focus:border-primary-300
    ;
}


form.form .form-row {
    @apply
    flex flex-row
    justify-center
    ;
}

form.form .form-col {
    @apply
    flex flex-col
    justify-center
    ;
}

form.form .form-row + .form-row,
form.form .form-row + .form-col,
form.form .form-col + .form-row,
form.form .form-col + .form-col {
    @apply mt-4;
}


form.form .form-col input,
form.form .form-col button,
form.form .form-col select,
form.form .form-col textarea {
    @apply
    w-full
    ;
}
form.form .form-col p {
    @apply
    text-sm
    pb-0
    ;
}

form.form textarea {
    min-height: 5em;
}

form.form .input-prefix {
    @apply
    inline-flex
    items-center
    px-3
    rounded-l-md
    border border-r-0 border-gray-300
    bg-gray-50
    text-gray-400 text-sm
    ;
}
form.form .input-prefix svg {
    height: 1.1em;
    @apply text-gray-300;
}
form.form .input-prefix + input {
    @apply
    rounded-none rounded-r-md
    ;
}


form.form button,
form.form [role="button"],
form.form input[type="submit"]
{
    cursor: pointer;
    @apply
    inline-flex
    bg-white hover:bg-gray-50
    py-2 px-3
    border border-gray-300
    rounded-md
    shadow-sm
    text-sm leading-4 font-medium text-gray-700
    focus:outline-none
    focus:ring-2
    focus:ring-offset-2
    focus:ring-indigo-500
    ;
}

form.form input[type="submit"],
form.form button[type="submit"] {
    @apply
    bg-primary-200 hover:bg-primary-300
    border-primary-300 hover:border-primary-400
    ;
}


/**********************************************************************************************************************/
/*  Content
/**********************************************************************************************************************/

.thin-box {
    @apply
    mt-10 md:mt-16 lg:mt-24
    md:mx-28 lg:mx-72 xl:mx-96
    py-6 px-8 sm:px-10 md:px-12 md:py-5 lg:px-16 xl:px-16
    bg-white shadow
    rounded-md
    overflow-hidden
    ;
}

.thin-box h1 {
    @apply
    mt-2 mb-10
    ;
}

.thin-box h2 {
    @apply
    mt-0 mb-8 md:mt-2
    ;
}

/**********************************************************************************************************************/
/*  Table
/**********************************************************************************************************************/

table.table {
    @apply
        shadow
        rounded-md
        overflow-hidden
        min-w-full
        divide-y divide-gray-200
        bg-white
        mt-6 mb-8
    ;
}

table.table thead {
    @apply
        bg-gray-50
    ;
}

table.table thead th {
    @apply
        px-6 py-3
        text-left text-xs
        font-medium
        text-gray-500
        uppercase
        tracking-wider
    ;
}

table.table tr:nth-child(even) {
    @apply
        bg-gray-50
    ;
}

table.table td {
    @apply
        text-sm
        text-gray-500
        px-6 py-4
    ;
}

table.table td.table--text-main {
    @apply
        font-medium
        text-gray-900
    ;
}

table.table td.table--text-important {
    @apply
        font-bold
        text-gray-900
    ;
}




