{% extends 'Frontend/Views/FrontendLayout.twig' %}


{% block PAGE_TITLE %}404 Page not found{% endblock %}


{% block PAGE_CONTENT %}

        <section>
            <div class="page--wrapper w-responsive text-center mt-24">
                <h1 class="text-8xl">404<div class="text-5xl">Not found</div></h1>
                <div>Sorry, the requested page doesn't exist.</div>
            </div>
        </section>
        
{% endblock %}
