{% extends 'Frontend/Views/FrontendLayout.twig' %}


{% block PAGE_TITLE %}500 Server Error{% endblock %}


{% block PAGE_CONTENT %}

        <section>
            <div class="page--wrapper text-center mt-24">
                <h1 class="text-8xl">500<div class="text-5xl">Error</div></h1>
                <div>Sorry, we're experiencing an internal server error, please try again later.</div>
            </div>
        </section>
        
{% endblock %}
