{% extends 'Frontend/Views/FrontendLayout.twig' %}


{% block PAGE_TITLE %}403 Forbidden{% endblock %}


{% block PAGE_CONTENT %}

        <section>
            <div class="page--wrapper text-center mt-24">
                <h1 class="text-8xl">403<div class="text-5xl">Forbidden</div></h1>
                <div>You don't have the permission to access this resource.</div>
            </div>
        </section>
        
{% endblock %}
