{% expect 'string' as DOMAIN %}

{% apply spaceless %}
    {% if app.request.hasPreviousSession %} {# prevents starting a session when there are no flash messages #}
    <div id="FlashMessages" style="position:fixed; bottom:0; right:0; width:100%; z-index:999999;">
        <div>
        {% for messages in app.flashes([DOMAIN]) %}
            {% for i, notification in messages %}
                {% set notification = notification|json_decode %}
                <div class="FlashMessages_Popup {{ notification.type }} {{ {success:'label-success', notice:'label-info', warning:'label-warning', alert:'label-danger'}[notification.type] }}" style="padding:20px 20px 15px 30px; font-size:16px; color:white;">
                    <span>{{ notification.message|trans|raw }}</span>
                    <span class="FlashMessages_Popup_CloseBtn" title="Close this notification" style="font-size:20px; line-height:22px; font-weight:bold; padding-left:40px; float:right; cursor:pointer;"><i class="fa fa-times"></i></span>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endapply %}

{% register once in 'bodyJs' %}
    $('.FlashMessages_Popup_CloseBtn').click(function() {
        $(this).parent('.FlashMessages_Popup').fadeOut(300, function(){ $(this).remove(); });
    });
{% endregister %}
