{% extends 'Shared/Views/Layout.twig' %}

{% register once '/static/jquery-3.5.1.min.js' priority 0 %}
{% register once '/static/theme/adminlte-2.4.18/vendors/font-awesome/css/font-awesome.css' %}
{% register once '/static/theme/adminlte-2.4.18/vendors/bootstrap/css/bootstrap.css' %}
{% register once '/static/theme/adminlte-2.4.18/vendors/bootstrap/js/bootstrap.js' %}
{% register once '/static/theme/adminlte-2.4.18/css/adminlte.css' %}
{% register once '/static/theme/adminlte-2.4.18/css/skins/skin-black-light.css' %}
{% register once '/static/theme/adminlte-2.4.18/js/adminlte.js' %}

{% register once 'fixed' in 'bodyClasses' %}
{% register once 'skin-black-light' in 'bodyClasses' %}
{% register once 'hold-transition' in 'bodyClasses' %}
{% register once 'sidebar-mini' in 'bodyClasses' %}


{% block BODY_CONTENT %}
    
    {% include 'Backend/Views/Components/Layout/Header.twig' with { MODEL:new('App\\UI\\Backend\\Views\\Components\\Layout\\Header', app.user) } only %}
    
    <aside class="main-sidebar">
        <section class="sidebar">
            {% include('Shared/Views/Components/Generic/Menu.twig') with { MENU:new('App\\UI\\Shared\\Views\\Components\\Generic\\Menu', [
                {header:'MAIN'},
                {fa:'fa-dashboard', label:'Dashboard', href:path('backend_dashboard')},

            ]) } only %}
        </section>
    </aside>
    
    {% include 'Shared/Views/Components/Layout/FlashMessages.twig' with { DOMAIN:'backend' } only %}
    
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% block PAGE_TITLE %}Page title{% endblock %}
            </h1>
        </section>

        <section class="content">
        {% block PAGE_CONTENT %}{% endblock %}
        </section>
    </div>
    
    
    {#% include "Shared/Elements/NotificationPopups.twig" with {Domain: 'backend'} %#}
{% endblock %}
