{% extends 'Frontend/FrontendLayout.twig' %}
{% expect 'App\\Application\\Frontend\\Website\\Views\\Pages\\About' as MODEL %}


{% block PAGE_TITLE %}Home{% endblock %}

{% block PAGE_H1 %}Home{% endblock %}


{% block PAGE_CONTENT %}

        <section>
            <div class="page__wrapper w-responsive">
                <h1>Home</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque massa mi, nec dapibus massa tristique.
                </p>
                <p>
                    Donec fermentum sollicitudin elit, at tempor urna mattis eget. Curabitur nec suscipit quam. Cras metus lorem, dapibus vitae posuere et, suscipit non felis. Donec in eleifend libero, id facilisis augue. Sed orci justo, ultrices nec dui sed, feugiat aliquet purus. Fusce tristique sollicitudin massa sed interdum. Vivamus et vehicula quam. Vestibulum faucibus, est in accumsan condimentum, velit eros mattis urna, imperdiet condimentum tellus mauris vitae dolor.
                </p>
                <p>
                    Morbi mollis, sem at auctor scelerisque, dolor erat venenatis nunc, et pellentesque dui felis et tortor. Sed hendrerit metus vel nunc iaculis viverra. Mauris non consectetur justo. Mauris elit ligula, varius sed fringilla sit amet, viverra in elit. Nam aliquam magna gravida, gravida sem nec, ullamcorper lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies magna ut risus aliquam tempor. Suspendisse eu sapien eu justo elementum tempus. Aliquam erat volutpat.
                </p>
            </div>
        </section>
        
        <section>
            <div class="page__wrapper w-responsive">
                <h2>Welcome</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque massa mi, nec dapibus massa tristique et. Cras vitae lorem nunc. Vestibulum tincidunt nisi fringilla egestas auctor. Maecenas vitae magna dui. Donec interdum scelerisque justo, a eleifend quam vulputate eget. Etiam quis lacus iaculis, auctor nibh at, fringilla ligula. In et egestas neque. Aenean sit amet nulla in elit dignissim placerat. Phasellus sed sagittis nisl. Praesent dapibus libero sodales tortor gravida, at dapibus nibh luctus. Quisque est nisi, tempor sed odio in, egestas volutpat turpis.
                </p>
                <p>
                    Donec fermentum sollicitudin elit, at tempor urna mattis eget. Curabitur nec suscipit quam. Cras metus lorem, dapibus vitae posuere et, suscipit non felis. Donec in eleifend libero, id facilisis augue. Sed orci justo, ultrices nec dui sed, feugiat aliquet purus. Fusce tristique sollicitudin massa sed interdum. Vivamus et vehicula quam. Vestibulum faucibus, est in accumsan condimentum, velit eros mattis urna, imperdiet condimentum tellus mauris vitae dolor.
                </p>
                <p>
                    Morbi mollis, sem at auctor scelerisque, dolor erat venenatis nunc, et pellentesque dui felis et tortor. Sed hendrerit metus vel nunc iaculis viverra. Mauris non consectetur justo. Mauris elit ligula, varius sed fringilla sit amet, viverra in elit. Nam aliquam magna gravida, gravida sem nec, ullamcorper lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies magna ut risus aliquam tempor. Suspendisse eu sapien eu justo elementum tempus. Aliquam erat volutpat.
                </p>
            </div>
        </section>
        
        
{% endblock %}
