{% expect 'App\\UI\\Backend\\Views\\Components\\Layout\\Header' as MODEL %}

<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>DDD</b>Skeleton</span>
    </a>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top   navbar navbar-expand navbar-white navbar-light">
        
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                
                {% include 'Backend/Views/Components/Layout/HeaderUser.twig' with { MODEL: MODEL.User } only %}
                
            </ul>
        </div>
    </nav>
</header>
