{% extends 'Shared/Views/Layout.twig' %}

{% register once '/static/jquery-3.5.1.min.js' priority 0 %}
{% register once '/static/styles.css' %}

{% register once 'text-gray-500' in 'bodyClasses' %}


{% block HEAD_TITLE %}{% block PAGE_TITLE %}{% endblock %}{{ parent() }}{% endblock %}


{% block BODY_CONTENT %}

    <header class="page__header">
        <div class="page__main-menu px-2">
            
            {% include('Shared/Views/Components/Generic/Nav.twig') with { NAV: new('App\\UI\\Shared\\Views\\Components\\Generic\\Nav',
                [
                    { label:'Dashboard', href:path('backend_dashboard') },
                    { label:'Team', href:path('backend_account_list') },
                    { label:'Projects', href:'' },
                    { label:'Calendar', href:path('backend_page_list') },
                    { label:'Reports', href:path('backend_page_list') },
                ],
                {
                    attrClass:'',
                    submenuAttrClass:'',
                }
            )} only %}
            
            {% include('Shared/Views/Components/Generic/Nav.twig') with { NAV: new('App\\UI\\Shared\\Views\\Components\\Generic\\Nav',
                [
                    {
                        label:'<svg class="h-5 w-5" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z" class=""></path></svg><span>' ~ app.user.account.Forename.toString ~ ' ' ~ app.user.account.Lastname.toString ~ '</span>',
                        items:[
                            {label:'Profile'},
                            {label:'Settings'},
                            {label:'<svg class="h-5 w-5" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M400 54.1c63 45 104 118.6 104 201.9 0 136.8-110.8 247.7-247.5 248C120 504.3 8.2 393 8 256.4 7.9 173.1 48.9 99.3 111.8 54.2c11.7-8.3 28-4.8 35 7.7L162.6 90c5.9 10.5 3.1 23.8-6.6 31-41.5 30.8-68 79.6-68 134.9-.1 92.3 74.5 168.1 168 168.1 91.6 0 168.6-74.2 168-169.1-.3-51.8-24.7-101.8-68.1-134-9.7-7.2-12.4-20.5-6.5-30.9l15.8-28.1c7-12.4 23.2-16.1 34.8-7.8zM296 264V24c0-13.3-10.7-24-24-24h-32c-13.3 0-24 10.7-24 24v240c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24z"></path></svg><span>'~('login.sign_out'|trans)~'</span>', href:path('frontend_security_logout'),
                                
                            },
                        ],
                    },
                ],
                {
                    attrClass:'',
                    submenuAttrClass:'right-0 min-w-48',
                }
            )} only %}
            
        </div>
    </header>


    <div class="flex flex-row h-full">
        <aside class="sidebar flex-none w-60 shadow fixed">
            {% include('Shared/Views/Components/Generic/Nav.twig') with { NAV: new('App\\UI\\Shared\\Views\\Components\\Generic\\Nav',
                [
                    {
                        label:'<svg class="h-5 w-5" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><span>Dashboard</span>',
                        href:path('backend_dashboard'),
                        badges:[{label:'1', attrClass:'bg-purple-500', title:'Informations'}],
                    },
                    {header:'Platform'},
                    {
                        label:'<svg class="h-5 w-5" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" class=""></path></svg><span>Accounts</span>',
                        href:path('backend_account_list'),
                    },
                    {
                        label:'<svg class="h-5 w-5" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z"></path></svg><span>Pages</span>',
                        href:path('backend_page_list'),
                    },
                    {
                        label:'<svg class="h-5 w-5" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm0 64c14.71 0 26.58 10.13 30.32 23.65-1.11 2.26-2.64 4.23-3.45 6.67l-9.22 27.67c-5.13 3.49-10.97 6.01-17.64 6.01-17.67 0-32-14.33-32-32S270.33 96 288 96zM96 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm48-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm246.77-72.41l-61.33 184C343.13 347.33 352 364.54 352 384c0 11.72-3.38 22.55-8.88 32H232.88c-5.5-9.45-8.88-20.28-8.88-32 0-33.94 26.5-61.43 59.9-63.59l61.34-184.01c4.17-12.56 17.73-19.45 30.36-15.17 12.57 4.19 19.35 17.79 15.17 30.36zm14.66 57.2l15.52-46.55c3.47-1.29 7.13-2.23 11.05-2.23 17.67 0 32 14.33 32 32s-14.33 32-32 32c-11.38-.01-20.89-6.28-26.57-15.22zM480 384c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><span>Dashboard 2</span>',
                        href:path('backend_dashboard'),
                        badges:[
                            {label:''~random(2,3), attrClass:'bg-green-500'},
                            {label:''~random(1,2), attrClass:'bg-yellow-500'}
                        ],
                        items:[
                            {label:'Item 2', href:path('backend_dashboard'), items:[
                                {label:'Sub-item 1'},
                                {label:'Sub-item 2', href:path('backend_dashboard'), badges:[{label:''~random(1,3), attrClass:'bg-red-500'}]},
                            ]},
                        ],
                    },
                ],
                {
                    attrClass:'',
                    submenuAttrClass:'',
                }
            )} only %}
        </aside>
        
        <main class="main flex-auto bg-gray-100 ml-60">
            <div class="overflow-scroll w-full h-full px-9">
            {% block PAGE_CONTENT %}{% endblock %}
            </div>
        </main>
        
        {% include 'Shared/Views/Components/Layout/Notifications.twig' with { DOMAIN:'backend' } only %}
    </div>
    
{% endblock %}
