{% extends 'Backend/Backend.twig' %}

{% block HEAD_TITLE %}Home{{ parent() }}{% endblock %}

{% block BODY_CONTENT %}
    <section class="Layout_section -colored">
        <div class="Layout_wrapper">
            <h1>Admin</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque massa mi, nec dapibus massa tristique et. Cras vitae lorem nunc. Vestibulum tincidunt nisi fringilla egestas auctor. Maecenas vitae magna dui. Donec interdum scelerisque justo, a eleifend quam vulputate eget. Etiam quis lacus iaculis, auctor nibh at, fringilla ligula. In et egestas neque. Aenean sit amet nulla in elit dignissim placerat. Phasellus sed sagittis nisl. Praesent dapibus libero sodales tortor gravida, at dapibus nibh luctus. Quisque est nisi, tempor sed odio in, egestas volutpat turpis.
            </p>
        </div>
    </section>
    
{% endblock %}
