{% extends 'Shared/Layouts/Base.twig' %}

{% block BODY_CONTENT %}
    <main>
        {% block MAIN_CONTENT %}{% endblock %}
    </main>
{% endblock %}


{% block HEAD_STYLESHEET %}
    <link rel="stylesheet" href="/static/frontend.css">
{% endblock %}
