{% expect 'App\\UI\\Shared\\Views\\Components\\Generic\\Menu' as MENU %}

{% apply spaceless %}
    <nav class="{{ MENU.AttrClass }}">
        <ul>
            {% for item in MENU.items %}
                {% include('Shared/Views/Components/Generic/MenuItem.twig') with {ITEM:item} only %}
            {% endfor %}
        </ul>
    </nav>
{% endapply %}
